body {
  /* light-bg-color: #d3c7a2 */
  /* darker-bg-color: #baa86e */
  background: #d3c7a2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #d3c7a2, #baa86e, #d3c7a2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d3c7a2, #baa86e, #d3c7a2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d3c7a2, #baa86e, #d3c7a2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, #d3c7a2, #baa86e, #d3c7a2); /* Standard syntax */

  font-family: fantasy;  /* I want this as the default font-family */
}

h1, h2, h3, h4, h5, h6 {
  font-family: fantasy;
}

p {
  font-family: cursive;
}
