body {
  background: white;
  margin: 2em;
}

a {
  color: blue;
}

li:hover {
  color: white;
}

div.mast {
  background: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes color_flash {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow;}
  60% { color: green;}
  80% { color: blue;}
  100% { color: purple;}
}

div.title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: cursive;
  font-size: 150%;
  animation-name: color_flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(90deg); }
  40% { transform: rotate(180deg); }
  60% { transform: rotate(270deg); }
  80% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

img.profile_picture {
  display: flex;
  justify-content: center;
  border: 0.05em groove orange;
  max-height: 20em;
  margin-bottom: 1em;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes border_flash {
  0% { border-style: dashed; }
  20% { border-style: none; }
  40% { border-style: dotted; }
  60% { border-style: double; }
  80% { border-style: ridge; }
  100% { border-style: solid; }
}


nav {
  border-style: solid;
  border-bottom-width: 0.3em;
  border-top-width: 0em;
  border-right-width: 0em;
  border-left-width: 0em;
  border-color: orange;
}
nav ul {
  margin-top: 0;
  margin-bottom: 0;
  background: #FFFFFF;
  background: -webkit-linear-gradient(0, orange, yellow);
  background: -o-linear-gradient(0, orange, yellow);
  background: -moz-linear-gradient(0, orange, yellow);
  background: linear-gradient(0, orange, yellow);
}
nav ul li {
  display: inline;
}
nav ul li a {
  font-size: 200%;
  color: black;
  text-decoration: none;
  border-left-width: 0.1em;
  border-right-width: 0.1em;
  border-top-width: 0em;
  border-bottom-width: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  animation-name: border_flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

div.container {
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.container h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: monospace;
}

div.container div p {
  margin-top: 0em;
  margin-bottom: 1em;
}

div.content {
  padding: 1em;
}

div.sidebar {
  margin-top: 1em;
  padding: 1em;
  background: yellow;
}

div.code_box {
  background: tan;
  border-style: solid;
  border-color: red;
  border-width: 0.05em;
}

div#experience ul {
  list-style-type: none;
}


/* http://stackoverflow.com/questions/2741312/using-css-to-insert-text */
/* Martin Hansen (http://stackoverflow.com/users/2071762/martin-hansen) */
/* Taken on Feb 16, 2017 */
blockquote:before {
  content: "\"";
}
blockquote:after {
  content: "\"";
}
/* end of code snippet */

footer {
  background: blue;
  margin-top: 0;
  margin-bottom: 0;
}
